* {
    box-sizing: border-box;
    margin: 0;
  }

body {
    /* background-color: rgba(203, 180, 228); */   
    background-color: #e9e9e9;
    color: #222;
    font-family: Helvetica;
    text-transform: uppercase;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(203, 180, 228); */
    /* background-color: rgba(236, 220, 254); */
    background-color: #e9e9e9;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(138, 128, 149, 0.5), /* Right shadow */
                -5px -5px 10px rgba(138, 128, 149, 0.5), /* Left shadow */
                0 5px 10px rgba(138, 128, 149, 0.5), /* Bottom shadow */
                0 -5px 10px rgba(138, 128, 149, 0.5); /* Top shadow */
    /* overflow-y: auto;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    } */
}



/* .menu-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 60px;
} */

/* .menu-content h2 {
    margin-top: 0;
    font-size: 2vw;
} */

.menu-content a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    text-align: right;
    transform-origin: right;
    transition: transform 0.5s;
    color: #222;
}

.menu-content a:hover {
    text-decoration: none;
    transform: scale(1.2);
}



/*  BACK BUTTON  */

.back-button {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 24px;
    color: rgb(68, 67, 67);
    text-decoration: none;
  }
  